<header class="header-block black">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-sm-8 col-xs-12 lh">
                <p><%= t('.welcome') %>
                    <a href="mailto:9m2r.kldx@gmail.com">9m2r.kldx@gmail.com</a>
                </p>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 login lh">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <% if user_signed_in? %>
                    <%= link_to t(".sign_out"), destroy_user_session_path, method: :delete, class: "text-white", data: { turbolinks: false } %>
                <% else %>
                    <%= link_to t(".sign_in"), login_path, class: "text-white", data: { turbolinks: false } %> <%= t('.or') %> <%= link_to t(".sign_up"), register_path, class: "text-white", data: { turbolinks: false } %>
                <% end %>
            </div>

        </div>
    </div>
</header>