<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AppsRdev</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'stylesheets' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'javascripts' %>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  </head>

  <body>
    <div class="page">
      <%= render 'header' %>
      <%= render 'menu_bar' %>
      <%= render 'slider' %>
      <%= render 'contact' %>
      <%= render 'images' %>
      <%= render 'events' %>
      <%= render 'number' %>
      <%= render 'statistic' %>
      <%= render 'be_part' %>
      <%= render 'volunteer' %>
      <%= render 'emcomm' %>
      <%= yield %>
      <%= render 'footer' %>
    </div>
  </body>
</html>
